.moreInfoStyle{
	background-color:rgba(0,0,0,0.1);
	max-height:400px;
	padding:10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 2px;
	box-shadow: 1px 1px 5px grey;	
}

.moreInfoImgStyle{
	width: 200px;
	height: 170px;
	border-radius: 100%;
	box-shadow: 1px 1px 5px grey;
}


.pMoreInfoStyle{
	width:200px;
	margin-right: auto;
	margin-left: auto;
}



@media all and (max-width: 600px) {
  #test2 {
  	margin-top: 50px;    
    margin-bottom: 30px;
  }
}