.jumbotron{
	text-align: center;
	background: url(/img/be-brave-wallpaper.jpg);
	background-position: center;
	background-size: cover;
}

.addArticleBtnStyle{
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
}

.addArticleBtnStyle:hover{
background-color: #45a049;
}
