.App {
  text-align: center;
  background-color:rgba(0,0,0,0.04);
  min-height: 600px;
}

.cont{	
  display: flex;  
  justify-content: space-evenly;
  min-height: 500px; 
}

.mainStyle{ 
   	background-color:white;
    margin-right:10%;
    margin-left:10%;    
    padding:5px;
    box-shadow: 2px 2px 5px grey;
    border-radius:5px;
    margin-top: -50px;
    margin-bottom: 10px;    
}

@media all and (max-width: 600px) {
  .cont {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  } 
}

@media all and (max-width: 1000px) {
  
  .mainStyle{ 
   	background-color:white;
    margin-right:0;
    margin-left:0;    
    padding:0;
    box-shadow: 0px 0px 0px white;
    border-radius:0px;
    margin-top: 0px;
    margin-bottom: 0px;    
}
}

@-webkit-keyframes fadeInS { 
  0% { opacity:0; } 
  50% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeInS {  
  0% { opacity:0; } 
  50% { opacity:1; }
  100% { opacity:0; } 
}
@keyframes fadeInS {  
  0% { opacity:0; } 
  50% { opacity:1; }
  100% { opacity:0; } 
}

.loadingDot {
  opacity:0; 
  -webkit-animation:fadeInS ease-in 2s infinite;  
  -moz-animation:fadeInS ease-in 2s infinite;
  animation:fadeInS ease-in 2s infinite;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:6s;
  -moz-animation-duration:6s;
  animation-duration:6s;
}



